*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
    background: #fff8f3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* header and navigation style */

nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.btn-primary{
    color: white;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
    height: 64px;
    border-radius: 5px;
    background-color: #e2670f;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
}
nav li {
    list-style: none;
    margin-left: 50px;

}
nav ul{
    display: flex;
    align-items: center;
}
.text-primary{
    color: #e2670f;
}

/* banner styles */

.banner{
    display: flex;
    align-items: center;
    margin: 0px 200px;
    }
    .banner-title {
        font-weight: 400;
        font-size: 40px;
        margin-bottom: 20px;
    }
    .banner-sub-title {
        font-weight: 600;
        font-size: 45px;

    }
    .banner-description {
        color: rgb(38, 63, 63);
        margin-bottom: 30px;
    }
/* mein section */
main{
    max-width: 1140px;
    margin: auto;
}
.about{
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    padding: 130px 150px;
}

    /* about section styles */
.section-title {
    text-align: center;
    margin-bottom: 30px;
    }

.section-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    }
.about-info-container {
    display: flex;
    justify-content: space-around;
}
.about-info-title {
    font-size: 20px;
    color: #757575;
    
}
.about-info-description{
    font-size: 10px;

}
.footer{
    background-color: #fff8f3;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 150px;
}